.answer {
  display: flex;
  width: 700px;
  height: 30px;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #444444;
  margin: 15px;
  cursor: pointer;
}
.answer:hover {
  background-color: rgb(245, 247, 150);
}
.checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid black;
  margin: 0px 15px 0px 15px;
}
